<main>
	<form class="main-form" action="/admin/product" method="POST">
		<h1>Add Shop</h1>
		<label for="title">Title</label>
		<input class="form-input" type="text" name="title" autocomplete="off" />
		<label for="imageUrl">Image</label>
		<input type="text" name="imageUrl" autocomplete="off">
		<label for="">Price</label>
		<input type="number" name="price" id="" step="0.01" autocomplete="off">
		<label for="">Description</label>
		<textarea name="description" id="" cols="30" rows="10"></textarea>
		<button class="btn" type="submit">Add Shop</button>
	</form>
</main>
