<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{pageTitle}}</title>
	<link rel="stylesheet" href="/css/main.css">
	{{#if formCSS}}
		<link rel="stylesheet" href="/css/form.css">
	{{/if}}
</head>
<body>
<header class="main-header">
	<nav class="main-header__nav">
		<ul class="main-header__list">
			<li class="main-header__item"><a href="/">Shop</a></li>
			<li class="main-header__item"><a href="/products">Products</a></li>
			<li class="main-header__item"><a href="/cart">Cart</a></li>
			<li class="main-header__item"><a href="/orders">Orders</a></li>
			<!-- Admin routes -->
			<li class="main-header__item"><a href="/admin/add-product">Add product</a></li>
			<li class="main-header__item"><a href="/admin/product">Admin Products</a></li>

		</ul>
	</nav>
</header>
{{{body}}}
</body>
</html>
