.main-form {
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 90%;
    text-align: center;
    padding: 2rem;
    margin: auto;
    border: 2px solid #000;
    border-radius: 6px;
    background-color: #2e8be9;
    color: #d9dedc;
}

h1 {
    text-align: center;
}

input {
    margin: 1rem;
    font-size: 1.4rem;
    padding: 5px
}

button {
    margin: 0 1rem;
    padding: 3px;
    border: 2px solid #000;
    border-radius: 6px;
    cursor: pointer;
    background-color: #2e8be9;
    color: #d9dedc;
    font-size: 1.4rem;
}
